{% extends "base.html" %}

{% block custom_style %}
 <!-- Custom styles for this template -->
    <link href="/static/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}
<main class="form-signin">
  <form method="POST">
    {{ form.hidden_tag() }}
    <!-- <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
    <h1 class="h3 mb-3 fw-normal">Login</h1>

    <div class="form-floating">
      <input type="email" name="email" class="form-control" id="floatingInput" placeholder="nombre@ejemplo.com">
      <label for="floatingInput">Correo Electrónico</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
      <label for="floatingPassword">Contraseña</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" name="remember_me" value="remember_me"> Recuérdame
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Acceder</button>
  </form>
  {% if error %}
  <p class="error"><strong>Error:</strong> {{ error }}</p>
  {% endif %}
</main>
{% endblock %}
